:root {
    --clr-One: #044BD9;
    --clr-Two: #0339A6;
    --clr-Three: #023373;
    --clr-complement1: #011C40;
    --clr-complement2: #0D0D0D;
    --Clr-White: #ffffff;
    --clr-Black: #000000;

    --font-size-small:12px;
    --font-size-medium:15rem;
    --font-size-large:1.8rem; 
    --font-siize-tittle: 2.4rem;  
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%;
}
a {
    text-decoration:none;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
}
.logo {
    width: 60px;
    margin-top: -10px;
}
header {

}
.nav {
    display: flex; 
    justify-content:center; 
    padding: 10px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
li {
    list-style-type: none;
    padding: 20px;
}
img {
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.container img {
    object-fit: cover;
background-repeat: no-repeat; 
background-position: center;
background-size: cover;

width: 250px;
height: 200px;
}
.hero-section {

}
.row {
    display: flex;
    flex-wrap: wrap;
}