:root {
    --clr-One: #044BD9;
    --clr-Two: #0339A6;
    --clr-Three: #023373;
    --clr-complement1: #011C40;
    --clr-complement2: #0D0D0D;
    --Clr-White: #ffffff;
    --clr-Black: #000000;

    --font-size-small:12px;
    --font-size-medium:15rem;
    --font-size-large:1.8rem; 
    --font-siize-tittle: 2.4rem;  
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size:62.5%;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
}
.logo {
    width: 60px;
    margin-top: -10px;
}
header {

}
.nav {
    display: flex; 
    justify-content:center; 
    padding: 10px;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}
a {
    text-decoration:none;
    color: var(--clr-complement2);
    text-transform: uppercase;
    font-weight: bold;
}
li {
    list-style-type: none;
    padding: 20px;
}
img {
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
/* .hero-section { */
/*  width: 100%; */
/*  height: 100px; */
/*  background-color: #011C40; */
/* } */
.row {
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 20%;
    position: relative;
    display: block;
    transition: transform 500ms;
}
.container img {
    object-fit: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;

    width: 100%;
  /*   height: auto; */
    height: 100%;
    opacity: 1;
    display: block;
    margin: .5rem;
}
.row .container:focus, 
.row .container:hover {
    transform: scale(1.5);
    z-index: 1;
}
.middle {
    position: absolute;
    width: 50%;
    height: 50%;
    transition: .5s ease;
    opacity: 0;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate( -50%, -50%);
    text-align: center;
}
.container:hover .middle {
    opacity: 1;
}
.Text {
    color: var(--Clr-White);
    font-size: var(--font-size-medium);
    padding: 1.6rem 3.2rem;
}
.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom:0;
    padding: 30px;
    width: 100%; 
}

         /*   MEDIAQUERIES */
@media only screen and (max-width: 800px) {

}